[Unit]
Description = Mount NFS Share

[Mount]
What=<IP-ADDRESS>:/extra
Where=/extra
Type=nfs
Options=defaults
TimeoutSec=10

[Install]
WantedBy=multi-user.target

